<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customers</title>
</head>
<body>

<div id = "wrpper">
    <div id = "header">
        <h2>CRM-customers</h2>
    </div>
</div>
<div id = "container">
    <div id = "content">


        <input type="button" value="Add customer"
            onclick="window.location.href = 'showFormForAdd'; return false;"
            class="add-button"
        />
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Action</th>


            <tr th:each="Customer : ${customers}">
                <td th:text ="${Customer.firstName}" >1</td>
                <td th:text ="${Customer.lastName}" >1</td>
                <td th:text ="${Customer.email}" >1</td>
                <td>
                    <a th:href="@{/customer/showFormForUpdate(customerId=${Customer.id})}" class="btn btn-info btm-sm">Update</a>
                    <a th:href="@{/customer/delete(customerId=${Customer.id})}"
                       onclick="if (!(confirm('Are you sure for deleting this?'))) return false" class="btn btn-info btm-sm">Delete</a>
                </td>
            </tr>
            </tr>
        </table>
    </div>
</div>

</body>
</html>
